[submodule "third_party/lajolla"]
	path = third_party/lajolla
	url = https://github.com/tayoshino31/photon_mapping.git
[submodule "lajolla"]
	path = lajolla
	url = https://github.com/tayoshino31/lajolla_public.git
